.name {
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 10rem;
}

.text {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.socialMedia ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 10px;
  margin-left: -20px;
  margin-top: 3rem;
}
