.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem 0;
}

li {
  list-style: none;
}

.toggle_menu {
  display: none;
}

ul.navbar_items {
  display: flex;
  flex-direction: row;
  background-color: paleturquoise;
}

ul.sidebar_items {
  display: none;
}

a {
  padding: 0 1rem;
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
  font-style: bold;
}

.logo img {
  width: 50px;
  margin-left: -10px;
}

@media only screen and (max-width: 540px) {
  .navbar {
    width: 90%;
  }
  .toggle_menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
  }

  .toggle_menu:hover {
    color: orange;
  }

  ul.navbar_items {
    display: none;
  }

  ul.sidebar_items {
    background-color: rgba(179, 9, 9, 0.911);
    color: white;
    position: fixed;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
    height: 100%;
    width: 200px;
    z-index: 800;
    right: 0%;
    top: 0%;
  }

  li.sidebar_item {
    padding: 20px 30px;
    color: white;
  }

  li.sidebar_item:hover {
    color: orange;
  }

  .logo img {
    width: 40px;
  }
}
