html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  width: 100%;
}

/* section */
/* section {
  margin: 4rem 0;
} */

.section_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.section_title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #086b9c;
}

.section_text {
  text-align: center;
}

@media only screen and (max-width: 1017px) {
  .projects .section_header {
    flex-direction: column;
  }
  .section_text {
    text-align: left;
  }
}

@media only screen and (max-width: 540px) {
  section {
    margin: 1rem 0;
  }
}
