html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  width: 100%;
}

/* section */
/* section {
  margin: 4rem 0;
} */

.section_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.section_title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #086b9c;
}

.section_text {
  text-align: center;
}

a.bottom_to_top {
  height: 50px;
  width: 80px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: #5a5a5a63;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  z-index: 50;
}
a.bottom_to_top.active {
  display: flex;
}

a.bottom_to_top:hover {
  background-color: #079df563;
  color: white;
}

.btn_text {
  margin-left: 5px;
}

@media only screen and (max-width: 1017px) {
  .projects .section_header {
    flex-direction: column;
  }
  .section_text {
    text-align: left;
  }
}

@media only screen and (max-width: 540px) {
  section {
    margin: 1rem 0;
  }
}
